<div id="editarLibro" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="editarLibroLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="editarLibroLabel">Editar Libro</h4>
			</div>
			<div class="modal-body">
				<p>
					Usa el siguiente formulario para modificar los valores necesarios:<br><br>
					<label for="tituloInput">Titulo:</label>
					<input id="tituloInput" class="form-control" type=text value="<%=titulo%>"><br>
					<label for="autorInput">Autor:</label>					
					<input id="autorInput" class="form-control" type=text  value="<%=autor%>">
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button id="botonModificar" type="button" class="btn btn-primary">Aceptar</button>
			</div>
		</div>
	</div>
</div>
