<div id="editarLibro" class="modal fade" tabindex="-1" role="dialog"
	aria-labelledby="editarLibroLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 id="editarLibroLabel">Editar Libro</h4>
			</div>
			<div class="modal-body">
				<p>
					La acción de editar el libro <%=titulo%>-<%=autor%> no está implementada.
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-primary">Aceptar</button>
			</div>
		</div>
	</div>
</div>
