<td style="text-align: right;"><%= idLibro %></td>
<td><%= titulo %></td>
<td><%= autor %></td>
<td style="text-align: center;">
	<button type="button" class="btn btn-default btn-mini editar" data-toggle="tooltip" data-placement="top" title="Editar">
		<span class="glyphicon glyphicon-pencil"></span>
	</button>
</td>
<td style="text-align: center;">
	<button type="button" class="btn btn-default btn-mini eliminar" data-toggle="tooltip" data-placement="top" title="Eliminar">
		<span class="glyphicon glyphicon-trash"></span>
	</button>
</td>
