<div class="page-header">
	<h1>Referencias</h1>
</div>
<p>El código fuente de este ejercicio utiliza múltiples tecnologías con las que deberás estar más o menos familiarizado.
A continuación se enumeran las principales así como alguna web que puede resultarte de ayuda:
</p>
<ul>
<li><a href="http://spring.io/">Spring</a>
  <ul>
    <li><a href="http://docs.spring.io/spring/docs/3.1.0.RELEASE/spring-framework-reference/html/">Spring framework</a></li>
	<li><a href="http://docs.spring.io/spring/docs/3.1.0.RELEASE/spring-framework-reference/html/spring-web.html">Spring MVC</a></li>
	<li><a href="http://www.mkyong.com/tutorials/spring-mvc-tutorials/">Spring MVC Tutorial</a> por mkyong</li>
  </ul>
</li>
<li><a href="https://github.com/FasterXML/jackson">Jackson<a>
  <ul>
    <li><a href="http://www.mkyong.com/spring-mvc/spring-3-mvc-and-json-example/">Spring 3 MVC And JSON Example</a> por mkyong</li>
  </ul>
</li>
<li><a href="http://www.hibernate.org/">Hibernate</a>
  <ul>
  	<li><a href="http://docs.jboss.org/hibernate/orm/4.1/devguide/en-US/html/ch13.html">Native SQL Queries</a></li>
    <li><a href="http://www.roseindia.net/hibernate/hibernateidgeneratorelement.shtml">Understanding Hibernate &lt generator &gt element</a></li>
  </ul>
</li>
<li><a href="http://hsqldb.org/">HyperSQL</a></li>
<li><a href="http://backbonejs.org/">Backbone</a>
  <ul>
    <li><a href="http://alfonsomarin.com/tutorial-de-backbone-js">Tutorial de Backbone.js</a> por Alfonso Marín.</li>
    <li><a href="https://github.com/ccoenraets/backbone-cellar/tree/master/tutorial">Backbone.js Wine Cellar Tutorial</a> por Christophe Coenraets</li>
    <li><a href="http://stackoverflow.com/questions/9816274/ways-to-save-backbone-js-model-data">Ways to save Backbone.js model data?</a></li>
    <li><a href="http://www.codebeerstartups.com/2012/12/12-listening-to-dom-events-in-backbone-js-learning-backbone-js/">12 Listening to DOM Events in Backbone Js – Learning Backbone Js</a></li>
  </ul>
</li>

<li><a href="http://underscorejs.org/">Underscore</a>
<li><a href="http://getbootstrap.com/">BootStrap<a>
  <ul>
    <li><a href="https://gist.github.com/stephenvisser/2711454">Using Twitter Bootstrap NavBars with Backbone.js</a>
  </ul>
</li>
<li><a href="http://maven.apache.org/">Maven</a>
  <ul>
    <li><a href="http://docs.codehaus.org/display/MAVENUSER/MavenPropertiesGuide">Maven Properties Guide</a></li>
  </ul>
</li>
<li><a href="http://tiles.apache.org/">Apache Tiles</a></li>
<li><a href="http://www.eclipse.org/jetty/">Jetty</a></li>
</ul>