<td style="text-align: right;"><%= id_ciudad %></td>
<td><%= nombre_ciudad %></td>
<td><%= id_pais %></td>
<td><%= nombre_pais %></td>
<td><%= valor %></td>
<td><%= tipo_jjoo %></td>
<td><%= veces_sede %></td>
