<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- HSQLDB Data Source -->        
	<bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="org.hsqldb.jdbcDriver" />
	    <property name="url" value="${dataSource.url}" />
	    <property name="username" value="${dataSource.user}" />
	    <property name="password" value="${dataSource.password}" />
	</bean>
</beans>